$header-background-color: #212124;
$header-txt-color: #b1b1b1;

$nav-background-color: #212124;
$nav-txt-color: #b1b1b1;
$nav-txt-selected-color: #b1b1b1;

$portfolio-background-color: #212124;
$portfolio-txt-color: #b1b1b1;

$darkmode-background-color: #353638;
$darkmode-color: #b1b1b1;

:export {
  headerBackgroundColor: $header-background-color;
  headerTxtColor: $header-txt-color;

  navBackgroundColor: $nav-background-color;
  navTxtColor: $nav-txt-color;
  navTxtSelectedColor: $nav-txt-selected-color;

  portfolioBackgroundColor: $portfolio-background-color;
  portfolioTxtColor: $portfolio-txt-color;

  darkmodeBackgroundColor: $darkmode-background-color;
  darkmodeColor: $darkmode-color;
}
