$header-background-color: #ffffff;
$header-txt-color: #0a0708;

$nav-background-color: #ffffff;
$nav-txt-color: #b1b1b1;
$nav-txt-selected-color: #0a0708;

$portfolio-background-color: #ffffff;
$portfolio-txt-color: #0a0708;

$darkmode-background-color: #ffffff;
$darkmode-color: #0a0708;

:export {
  headerBackgroundColor: $header-background-color;
  headerTxtColor: $header-txt-color;

  navBackgroundColor: $nav-background-color;
  navTxtColor: $nav-txt-color;
  navTxtSelectedColor: $nav-txt-selected-color;

  portfolioBackgroundColor: $portfolio-background-color;
  portfolioTxtColor: $portfolio-txt-color;

  darkmodeBackgroundColor: $darkmode-background-color;
  darkmodeColor: $darkmode-color;
}
