@import '../variable.module';

.portfolio {
  min-width: $mobile-breakpoint;
  background-color: $portfolio-background-color;
  width: 100vw;
  height: 100vh;
  color: $portfolio-txt-color;
  overflow: auto;
}
