@import '../variable.module';

.portfolio {
  display: flex;
  flex-direction: column;
  min-width: $mobile-breakpoint;
  background-color: $portfolio-background-color;
  color: $portfolio-txt-color;
  width: 100vw;
  height: 100vh;
}
