@import '../variable.module';
@import '../mixin';

nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  background-color: $nav-background-color;

  > div {
    display: flex;
    align-items: center;
  }
}
