@import '../variable';
@import '../mixin';

nav {
  margin: 1rem 0;
  background-color: aqua;

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
}

@include desktop {
  nav li {
    font-size: $font-large;
  }
}

@include tablet {
  nav li {
    font-size: $font-medium;
  }
}

@include mobile {
  nav li {
    font-size: $font-small;
  }
}
