@import '../mixin';

.profile {
  display: flex;
  justify-content: center;
}
@include desktop {
  .profile {
    width: 9.375rem; // 150px
    height: 5rem; // 80px
  }
}

@include laptop {
  .profile {
    width: 7.8125rem; // 125px
    height: 4.0625rem; // 65px;
  }
}

@include tablet {
  .profile {
    width: 6.25rem; // 100px
    height: 3.125rem; // 50px;
  }
}

@include mobile {
  .profile {
    width: 5rem; // 80px
    height: 2.1875rem; // 35px
  }
}
