@import '../mixin';

.profile {
  display: flex;
  justify-content: center;
}

@include desktop {
  .profile {
    width: 150px;
    height: 80px;
  }
}

@include tablet {
  .profile {
    width: 100px;
    height: 50px;
  }
}

@include mobile {
  .profile {
    width: 80px;
    height: 30px;
  }
}
