@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  background-color: #fbfcfd;
  line-height: 1.4;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 1.1rem;
}

p {
  margin: 0;
}
