@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  background-color: #fbfcfd;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 1.1rem;
}

p {
  margin: 0;
}
