@import './variable.module';

@mixin mobile {
  @media (max-width: #{$tablet-breakpoint - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-breakpoint}) {
    @content;
  }
}
