$font-xlarge: 1.2rem; // 19.2px
$font-large: 1.125rem; // 18px
$font-medium: 1rem; // 16px
$font-small: 0.8rem; // 13px

$mobile-breakpoint: 0rem;
$tablet-breakpoint: 40rem; // 640px
$laptop-breakpoint: 64rem; // 1024px
$desktop-breakpoint: 75rem; // 1200px

:export {
  fontXLarge: $font-xlarge;
  fontLarge: $font-large;
  fontMedium: $font-medium;
  fontSmall: $font-small;

  mobileBreakpoint: $mobile-breakpoint;
  tabletBreakpoint: $tablet-breakpoint;
  laptopBreakpoint: $laptop-breakpoint;
  desktopBreakpoint: $desktop-breakpoint;
}
